<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # se for arquivo ou pasta real, serve direto
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # senão, joga no front-controller dentro de public/
  RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
