<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /system/

    # Se arquivo ou pasta real, não redireciona
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Se já estiver em public/, deixa passar
    RewriteRule ^public/ - [L]

    # Redireciona tudo pra public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

<IfModule mime_module>
    AddHandler application/x-httpd-php .php
</IfModule>

<IfModule mod_headers.c>
    Header set X-Frame-Options       "SAMEORIGIN"
    Header set X-XSS-Protection      "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_rewrite.c>
    # Força HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

ErrorDocument 403 /public/index.php
ErrorDocument 404 /public/index.php
ErrorDocument 500 /public/index.php
