<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /system/

    # Se já estiver na pasta public, serve direto
    RewriteRule ^public/ - [L]

    # Se não for arquivo ou diretório real, redireciona pra public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

<IfModule mime_module>
    AddHandler application/x-httpd-php .php
</IfModule>

<IfModule mod_headers.c>
    Header set X-Frame-Options        "SAMEORIGIN"
    Header set X-XSS-Protection       "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
</IfModule>

# Forçar HTTPS
<IfModule mod_rewrite.c>
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

ErrorDocument 403 /system/public/index.php
ErrorDocument 404 /system/public/index.php
ErrorDocument 500 /system/public/index.php
